<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- ขอกล้องต้องมีอันนี้ -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- ตำแหน่งโดยประมาณ -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- ตำแหน่งที่แน่นอน -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- ตำแหน่งขณะทำงานอยู่เบื้องหลัง -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- ใช้เซอร์วิสที่ทำงานแม้ปิดแอป -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- ใช้เซอร์วิสที่ทำงานแม้ปิดแอป เกี่ยวกับตำแหน่ง android14(API34) ใช้ร่วมกับอันบน -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" /> <!-- เข้าถึงเน็ต -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- กล้อง -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- แจ้งเตือน -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- ตรวจสอบการเชื่อมต่ออินเทอร์เน็ต -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TNGLogistics"
        tools:targetApi="34" >
        <activity
            android:name=".View.CameraXActivity"
            android:exported="false" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".View.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MainActivity"
            android:exported="false" />

        <service
            android:name=".Controller.LocationService"
            android:exported="false"
            android:foregroundServiceType="location" />
        <receiver
            android:name=".Controller.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.example.geofencing.GEOFENCE_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Controller.NetworkReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>